@model CardPosition

<h4>Позиции лота</h4>
@Model.StockNumber<br>
@Model.CodTNVED<br>
@Model.Name<br>
@Model.Measure<br>
@Model.Amount<br>
@Model.Currency<br>
@Model.UnitPrice<br>
@Model.TotalPrice<br>
@Model.PaymentTerms<br>
@Model.DeliveryTime<br>
@Model.DeliveryTerms<br>
