@model WebStudio.ViewModels.CardAndOffersViewModel

@{
    ViewBag.Title = "Расчет";
    Layout = "_Layout";
}

<div id="caption" class="bg-success col-lg-12 text-white"><h4 class="pt-2 pb-3">@Model.Card.Number @Model.Card.Name</h4></div>
<div class="container">
    <div class="row justify-content-between">
        
        <!--------Левый блок начало карточка----->
        <div class="col-lg-6">
            <select id="selectPositionCard">
                <option disabled selected>Выберите позицию из лота:</option>
                @foreach (var position in Model.Card.Positions)
                {
                    <option value="@position.Id">@position.Name  (Кол-во: @position.Amount)</option>
                }
            </select>
            <div class="mt-3" id="subbodyCard"></div>
        </div>
        <!--------Левый блок конец----->



        <!--------Правый блок начало КП----->
        <div class="col-lg-6">
            <select id="selectPositionOffer">
                <option disabled selected>Выберите позицию из КП:</option>
                @foreach (var position in Model.Offer.Positions)
                {
                    <option value="@position.Id">Н-ние: @position.Name; Поставщик: @position.Amount</option>
                }
            </select>
            <div class="mt-3"  id="subbodyOffer"></div>
        </div>
        <!--------Правый блок конец----->
    </div>
</div>



@section Scripts
{
    <script>
    
    
    
        $('#selectPositionCard').on('change', function(){
            let positionId = $(this).val()
            
            $.ajax({
                url: '@Url.Action("GetPositionCard", "Calculations")',
                type: 'GET',
                data: {'positionId':positionId},
                
                success: function (data){
                    $('#subbodyCard').html(data)
                }
            })
        })
        
        $('#selectPositionOffer').on('change', function(){
            let positionId = $(this).val()
            
            $.ajax({
                url: '@Url.Action("GetPositionOffer", "Calculations")',
                type: 'GET',
                data: {'positionId':positionId},
                
                success: function (data){
                    $('#subbodyOffer').html(data)
                }
            })
        })  
                     
              
                
        
        
        
        
    </script>
}