@model OfferPosition

<h4>Позиции КП</h4>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Наименование</th>
      <th scope="col">Значение</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td>Код ТНВЭД</td>
      <td>@Model.CodTNVED</td>
      
    </tr>
    <tr>
      <td>Название</td>
      <td>@Model.Name</td>
      
    </tr>
  <tr>
    <td>Ед.изм.</td>
    <td>@Model.Measure</td>
      
  </tr>
  <tr>
    <td>Кол-во</td>
    <td>@Model.Amount</td>
        
  </tr>
  
  <tr>
    <td>Цена</td>
    <td>@Model.UnitPrice</td>
          
  </tr>
  
  <tr>
    <td>Итого</td>
    <td>@Model.TotalPrice</td>
            
  </tr>
  
  <tr>
    <td>Условия поставки</td>
    <td>@Model.DeliveryTerms</td>
              
  </tr>
  
  <tr>
    <td>Условия поставки</td>
    <td>@Model.DeliveryTime</td>
                
  </tr>

  <tr>
    <td>Larry</td>
    <td>@Model.PaymentTerms</td>
                  
  </tr>
  
    
  <tr>
    <td>Larry</td>
    <td>@Model.DeliveryCity</td>
                    
  </tr>
  
    
  
  
  
        

        
      

  </tbody>
</table>



