@using WebStudio.Enums
@using X.PagedList.Mvc.Bootstrap4.Core
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<WebStudio.Models.Card>
@inject WebStudioContext _db

@{
    ViewBag.Title = "Карточки";
    Layout = "_Layout";
}



@if (@Model.Count == 0)
{
  <div class="container pl-0">

    <div class="jumbotron shadow-sm">
      <h1 class="display-4">В вашей базе нет доступных лотов</h1>
    </div>
  </div>
}
else
{
  <div>
    @if (ViewBag.sort == CardState.Новая)
    {
      <div class="mt-3 d-flex justify-content-center align-items-baseline">
        <h3>Новые лоты</h3>
      </div>
    }
    @if (ViewBag.sort == CardState.Проработка)
    {
      <div class="mt-3 d-flex justify-content-center align-items-baseline">
        <h3>Лоты в работе</h3>
      </div>
    }
    @if (ViewBag.sort == CardState.ПКО)
    {
      <div class="mt-3 d-flex justify-content-center align-items-baseline">
        <h3>Лоты на ПКО</h3>
      </div>
    }
    @if (ViewBag.sort == CardState.Удалена)
    {
      <div class="mt-3 d-flex justify-content-center align-items-baseline">
        <h3>Удаленные лоты</h3>
      </div>
    }
    @if (ViewBag.sort == CardState.Торги)
    {
      <div class="mt-3 d-flex justify-content-center align-items-baseline">
        <h3>Лоты на торгах</h3>
      </div>
    }
    @if (ViewBag.sort == CardState.Выиграна)
    {
      <div class="mt-3 d-flex justify-content-center align-items-baseline">
        <h3>Выигранные лоты</h3>
      </div>
    }
    @if (ViewBag.sort == CardState.Проиграна)
    {
      <div class="mt-3 d-flex justify-content-center align-items-baseline">
        <h3>Проигранные лоты</h3>
      </div>
    }
    @if (ViewBag.sort == CardState.Активна)
    {
      <div class="mt-3 d-flex justify-content-center align-items-baseline">
        <h3>Активные лоты</h3>
      </div>
    }
    @if (ViewBag.sort == CardState.Закрыта)
    {
      <div class="mt-3 d-flex justify-content-center align-items-baseline">
        <h3>Закрытые лоты</h3>
      </div>
    }
    <div class="container pl-0 justify-content-between">
      <div class="row pb-3 mb-4 ml-0 border-bottom">
        <form method="get" class="my-3 px-auto py-auto" style="border: 1px dotted lightslategrey; border-radius: 8px;">
          <div class="form-inline form-group">
            <div class="pt-3 pb-0 pl-5 text-center">
              <div class="row d-flex justify-content-start align-items-baseline">
                <div class="col-3 m-1 px-0 py-1 font-italic text-secondary font-weight-bold">
                  Поиск по:
                </div>
                <div class="col-3 m-1 px-0 py-1 d-inline">
                  <span class="font-13 font-italic text-secondary">номеру лота</span>
                  @* <input type="hidden" name="sort" value="@ViewBag.sort"> *@
                  <input type="text" name="searchByCardNumber" placeholder="на латинице" class="form-control form-control-sm font-italic font-11">
                  <button type="submit" class="btn btn-outline-primary py-1 font-13 border-primary"><i class="fas fa-angle-double-right"></i></button>
                </div>

                <div class="col-4 m-1 px-0 py-1">
                  <span class="font-13 font-italic text-secondary">названию лота</span>
                  @* <input type="hidden" name="sort" value="@ViewBag.sort"> *@
                  <input type="text" name="searchByCardName" class="form-control form-control-sm font-italic font-11">
                  <button type="submit" class="btn btn-outline-primary py-1 font-13 border-primary"><i class="fas fa-angle-double-right"></i></button>
                </div>

                <div class="col-6 m-1 px-0 py-1">
                  <span class="font-13 font-italic text-secondary">позиции</span>
                  <input type="text" name="searchByPositionName" class="form-control form-control-sm font-italic font-11">
                  <button type="submit" class="btn btn-outline-primary py-1 font-13 border-primary"><i class="fas fa-angle-double-right"></i></button>
                </div>

                <div class="col-3 m-1 px-0 py-1">
                  <span class="font-13 font-italic text-secondary">исполнителю</span>
                  <input type="text" name="searchByExecutor" class="form-control form-control-sm font-italic font-11">
                  <button type="submit" class="btn btn-outline-primary py-1 font-13 border-primary"><i class="fas fa-angle-double-right"></i></button>
                </div>

                <div class="col-7 m-1 pl-5 py-1 form-inline">
                  <span class="font-13 font-italic text-secondary">дате начала торгов</span>
                  <div class="m-3">
                    <span class="font-13 font-italic text-secondary">от</span>
                    <input type="date" value="" name="searchDateFrom" class="form-control form-control-sm">
                  </div>
                  <div class="m-1">
                    <span class="font-13 font-italic text-secondary">до</span>
                    <input type="date" value="" name="searchDateTo" class="form-control form-control-sm">
                  </div>
                  <button type="submit" class="btn btn-outline-primary py-1 font-13 border-primary"><i class="fas fa-angle-double-right"></i></button>
                </div>
                <div class="col-4 m-1 py-1">
                  <a asp-action="AllCardsList" asp-controller="Cards" asp-route-page="1" asp-route-sort="@ViewBag.sort" class="btn btn-outline-primary font-italic pl-3 text-primary font-13">
                    Сбросить параметры поиска
                  </a>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
  <div>
    <div class="container pl-0 pr-0">
      <div id="cards" class="row">
    
        @foreach (var card in Model)
        {
          <div class="col-sm-12 col-md-6 mb-4">
            <div class="card shadow" id="card-@card.Id" onmouseout="link('@card.Id')" onmousemove="linkStr('@card.Id')">
            
            <a class="text-decoration-none" asp-action="DetailCard2" asp-controller="Cards" asp-route-cardId="@card.Id">
            <div class="card-header 

                  @if(card.CardState == CardState.Новая)
                  {
                    @:bg-success
                  }
                  else if (card.CardState == CardState.Удалена)
                  {
                    @:bg-danger
                  }
                  else if (card.CardState == CardState.Проработка)
                  {
                    @:bg-primary
                  }
                  else if (card.CardState == CardState.ПКО) 
                  {
                    @:bg-haky 
                  }
                  else if (card.CardState == CardState.Торги)
                  {
                    @:bg-warning
                  }
                  else if (card.CardState == CardState.Выиграна)
                  {
                    @:bg-info
                  }
                  else if (card.CardState == CardState.Проиграна) 
                  {
                    @:bg-dark 
                  }
                  else if (card.CardState == CardState.Активна) 
                  {
                    @:bg-violet
                  }
                  else if (card.CardState == CardState.Закрыта) 
                  {
                    @:bg-lightcoral
                  }
                  text-white"><h5 class="card-title">@card.Number @card.Name.Substring(0, 1).ToUpper()@card.Name.Substring(1)</h5></div>
              </a>
              
              @if (card.CardState == CardState.Новая && User.IsInRole("admin"))
              {
                <div class="ml-auto" id="deleteCard">
                  <form asp-action="DeleteCard" asp-controller="Cards" asp-route-cardId="@card.Id" method="post">
                    <button type="submit" style="border:0px solid black; background-color: transparent; outline:none">
                      <i class="far fa-times-circle mr-3 mt-3" style="font-size: 25px; color: darkred; align-content: center" aria-hidden="true"></i>
                    </button>
                  </form>
                </div>
              }
              
              <div class="card-body pt-2">
                <p class="card-text mb-2" id="lin">
                  @if (card.CardState != CardState.Новая && card.CardState != CardState.Удалена)
                  {
                    @if (card.ExecutorId != null)
                    {
                      <span class="badge badge-dark">@card.Executor.Name @card.Executor.Surname</span>
                    }
                    else
                    {
                      <span class="badge badge-dark">тестовая карточка</span>
                    }
                  }
                  
                
                  <span class="badge @if(card.CardState == CardState.Новая)
                                     {
                                       @:bg-success
                                     }
                                     else if (card.CardState == CardState.Проработка)
                                     {
                                       @:bg-primary
                                     }
                                     else if (card.CardState == CardState.Удалена)
                                     {
                                       @:bg-danger
                                     }
                                     else if (card.CardState == CardState.Торги)
                                     {
                                       @:bg-warning
                                     } 
                                     else if (card.CardState == CardState.Выиграна)
                                     {
                                       @:bg-info
                                     }
                                     else if (card.CardState == CardState.ПКО)
                                     {
                                       @:bg-haky
                                     }
                                     else if (card.CardState == CardState.Проиграна)
                                     {
                                       @:bg-dark
                                     }
                                   text-white">
                    @card.CardState
                  </span>
                  @if (card.CardState == CardState.Проработка || card.CardState == CardState.ПКО || card.CardState == CardState.Торги)
                  {
                    @if (card.DateOfProcessingEnd < DateTime.Now)
                    {
                      <span class="text-danger font-weight-bold border-danger">Просрочено!</span>
                    }
                  }
                </p>
                
                <p class="card-text mb-4">@card.Initiator</p>
                <p class="card-text mb-0" id="lin"><b>Стартовая сумма:</b> @card.StartSumm</p>
                <p class="card-text mb-0" id="lin"><b>Дата окончания приема заявок:</b> @card.DateOfAcceptingEnd.ToLongDateString() @card.DateOfAcceptingEnd.ToShortTimeString()</p>
                <p class="card-text mb-0" id="lin"><b>Дата и время начала торгов:</b> @card.DateOfAuctionStart.ToLongDateString() @card.DateOfAuctionStart.ToShortTimeString()</p>
                <p class="card-text mb-0" id="lin"><b>Брокер:</b> @card.Broker</p>
                <p class="card-text mb-0" id="lin"><b>Аукцион:</b> @card.Auction</p>
                <p class="card-text mb-0" id="lin"><b>Статус / Участники:</b> @card.State</p>
                <p class="card-text mb-3" id="lin"><b>Лучшая текущая цена (тг):</b> @card.BestPrice</p>
                <p class="card-text mb-0" id="lin">
                
                  @for (int i = 0; i < card.Links.Count; i++)
                  {
                    if (card.LinkNames[i].Contains(".xlsx")) 
                    {
                      <i class="far fa-file-excel text-secondary"></i><a href="@card.Links[i]">@card.LinkNames[i]</a><br>
                    }
                    else if (card.LinkNames[i].Contains(".docx"))
                    {
                      <i class="far fa-file-word text-secondary"></i><a href="@card.Links[i]">@card.LinkNames[i]</a><br>
                    }
                    else if (card.LinkNames[i].Contains(".pdf"))
                    {
                      <i class="far fa-file-pdf text-secondary"></i><a href="@card.Links[i]">@card.LinkNames[i]</a><br>
                    }
                    else if (card.LinkNames[i].Contains(".jpg"))
                    {
                      <i class="far fa-file-image text-secondary"></i><a href="@card.Links[i]">@card.LinkNames[i]</a><br>
                    }
                    
                  }
                
                </p>
              </div>
            </div>
          </div>
        
        }
      </div>
    </div>
  </div>
  
}

<p class="text-center">Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount</p>
<div class="row justify-content-center">
  @Html.PagedListPager(Model, page =>Url.Action("AllCardsList", "Cards", new {page, ViewBag.sort, ViewBag.filter}), Bootstrap4PagedListRenderOptions.Classic)
</div>

@section Scripts
{
  <script >
    $(document).ready(function () {
        
        $('#card-header').css({'cursor':'pointer'})
        $('#deleteCard').css({'cursor':'pointer'})
    });
    

/////////////////////////////////Анимация с тенью карточек////////////////////////////////
       function link(cardId){
            $('#card-' + cardId).addClass('shadow')
            
       }

       function linkStr(cardId){
           $('#card-' + cardId).removeClass('shadow')
           
       }
  </script>
}