@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Bootstrap4.Core
@using Castle.Core.Internal
@model X.PagedList.IPagedList<CardClone>

@{
    ViewBag.Title = "Архив результатов участия на торгах";
    Layout = "_Layout";
}

@{
    var count = 1;
}

<div class="mt-4 mb-2 d-flex justify-content-center align-items-baseline">
    <h2>Архив результатов участия на торгах</h2>
</div>
<div class="container">
    <form method="get" class="my-3 px-auto py-auto" style="border: 1px dotted lightslategrey; border-radius: 8px;">
            <div class="form-inline form-group">
                <div class="pt-3 pb-0 pl-5 text-center">
                    <div class="row d-flex justify-content-start align-items-baseline">
                        <div class="col-3 m-1 px-0 py-1 font-italic text-secondary font-weight-bold">
                            Поиск по:
                        </div>
                        <div class="col-3 m-1 px-0 py-1 d-inline">
                            <span class="font-13 font-italic text-secondary">номеру лота</span>
                            <input type="text" name="searchByCardNumber" placeholder="на латинице" class="form-control form-control-sm font-italic font-11">
                            <button type="submit" class="btn btn-outline-primary py-1 font-13 border-primary"><i class="fas fa-angle-double-right"></i></button>
                        </div>
                
                        <div class="col-4 m-1 px-0 py-1">
                            <span class="font-13 font-italic text-secondary">названию лота</span>
                            <input type="text" name="searchByCardName" class="form-control form-control-sm font-italic font-11">
                            <button type="submit" class="btn btn-outline-primary py-1 font-13 border-primary"><i class="fas fa-angle-double-right"></i></button>
                        </div>
                
                        <div class="col-4 m-1 px-0 py-1">
                            <span class="font-13 font-italic text-secondary">ответственному</span>
                            <input type="text" name="searchByExecutor" class="form-control form-control-sm">
                            <button type="submit" class="btn btn-outline-primary py-1 font-13 border-primary"><i class="fas fa-angle-double-right"></i></button>
                        </div>
                
                        <div class="col-3 m-1 px-0 py-1">
                            <span class="font-13 font-italic text-secondary">статусу</span>
                            <select name="cardStatus" id="filterOrder">
                                <option value="All">Все</option>
                                <option value="winnerCard">Выиграна</option>
                                <option value="looserCard">Проиграна</option>
                            </select>
                            <button type="submit" class="btn btn-outline-primary py-1 font-13 border-primary"><i class="fas fa-angle-double-right"></i></button>
                        </div>
                        <div class="col-4 m-1 py-1">
                            <a asp-action="AuctionCards" asp-controller="Cards" asp-route-page="1" class="btn btn-outline-primary font-italic pl-3 text-primary font-13">
                                Сбросить параметры поиска
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div id="archiveTablePartial"></div>
        <table class="table" id="archiveTable">
            <thead class="thead-light">
            <tr>
                <th scope="col">№п/п</th>
                <th scope="col">Номер лота</th>
                <th scope="col">Название лота</th>
                <th scope="col">Сумма лота</th>
                <th scope="col">Ответственный</th>
                <th scope="col">Комментарий</th>
                <th scope="col">Статус</th>
            </tr>
            </thead>
            @foreach (var card in Model)
            {
                <tbody>
                <tr>
                    <th scope="row">@(count++)</th>
                    <td>@card.Number</td>
                    <td>@card.Name</td>
                    <td>@card.StartSumm</td>
                    <td>@card.Executor.Name @card.Executor.Surname</td>
                    @if (@card.Comment.IsNullOrEmpty())
                    {
                        <td>
                            <form>
                                <input type="hidden" id="cardId" value="@card.Id">
                                <a type="button" data-toggle="modal" data-target="#addCommentForm" class="font-italic" style="color: #0366d6">Добавить комментарий</a>
                            </form>
                        </td>
                    }
                    else
                    {
                        <td>@card.Comment</td>
                    }
                    <td>@card.CardState</td>
                </tr>
                </tbody>
            }
        </table>
    </div>
    <div class="modal fade" id="addCommentForm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase" id="editModalLabel">Добавить комментарий</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <div class="form-group">
                            <label for="comment">Комментарий</label>
                            <input type="text" class="form-control" id="comment" placeholder="Комментарий">
                        </div>
                        <button type="button" class="btn btn-outline-primary shadow" id="done" onclick="AddCommentToArchiveAjax()">Добавить</button>
                    </form>
                    <div class="modal-body add-position-success" id="success">
                        <h4>Добавлено!</h4>
                        <i class="check-custom fas fa-check"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
<p class="text-center">Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount </p>
<div class="row justify-content-center">
    @Html.PagedListPager(Model, page => Url.Action("AuctionCards", "Cards", 
        new { page, cardStatus = ViewBag.cardStatus, searchByCardNumber = ViewBag.searchByCardNumber, 
            searchByCardName = ViewBag.searchByCardName, searchByExecutor = ViewBag.searchByExecutor }), Bootstrap4PagedListRenderOptions.Classic)
</div>

@section Scripts
{
    <script>
        $('#success').hide();
        function AddCommentToArchiveAjax(){
            var comment = $('#comment').val();
            var cardId = $('#cardId').val();
            console.log(cardId)
            $.ajax({
                url : '@Url.Action("AddCommentToArchiveAjax", "Cards")',
                type : 'POST',
                data : {
                    'cardId' : cardId,
                    'comment' : comment 
                },
                success : function (data){
                    $('#archiveTable').hide();
                    $('#archiveTablePartial').html(data);
                    console.log(data)
                }
            });
            $('#form').hide();
            $('#success').show();
        }

    </script>
}
