@using WebStudio.Enums
@using X.PagedList.Mvc.Bootstrap4.Core
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<WebStudio.Models.Card>

@{
    ViewBag.Title = "Карточки в работе";
    Layout = "_Layout";
}



@if (@Model.Count == 0)
{
  <div class="container">

    <div class="jumbotron shadow-sm">
      <h1 class="display-4">В вашей базе нет доступных лотов</h1>
    </div>
  </div>
}
else
{
  <div class="container">
    <div id="detailCards" hidden class="row"></div>
    <div id="cards" class="row">
      @foreach (var card in Model)
      {
        <div class="col-sm-12 col-md-6 mb-4">
            <div class="card shadow" id="card-@card.Id" onmouseout="link('@card.Id')" onmousemove="linkStr('@card.Id')">
              <a class="text-decoration-none" asp-action="DetailCard" asp-controller="Cards" asp-route-cardId="@card.Id">
                <div class="card-header bg-info text-white">
                  <h5 class="card-title">@card.Number @card.Name.Substring(0, 1).ToUpper()@card.Name.Substring(1)</h5>
                </div>
              </a>
              
              <div class="ml-auto" id="deleteCard">
                <a asp-action="DeleteCard" asp-controller="Cards" asp-route-cardId="@card.Id">
                  <i class="far fa-times-circle mr-3 mt-3" style="font-size: 25px; color: darkred; align-content: center" aria-hidden="true"></i>
                </a>
              </div>
              <div class="card-body pt-2">
              <p class="card-text mb-2" id="lin"><span class="badge badge-info">@card.CardState</span></p>
              <p class="card-text mb-4">@card.Initiator</p>
              <p class="card-text mb-0" id="lin"><b>Стартовая сумма:</b> @card.StartSumm</p>
              <p class="card-text mb-0" id="lin"><b>Дата окончания приема заявок:</b> @card.DateOfAcceptingEnd.ToLongDateString() @card.DateOfAcceptingEnd.ToShortTimeString()</p>
              <p class="card-text mb-0" id="lin"><b>Дата и время начала торгов:</b> @card.DateOfAuctionStart.ToLongDateString() @card.DateOfAuctionStart.ToShortTimeString()</p>
              <p class="card-text mb-0" id="lin"><b>Брокер:</b> @card.Broker</p>
              <p class="card-text mb-0" id="lin"><b>Аукцион:</b> @card.Auction</p>
              <p class="card-text mb-0" id="lin"><b>Статус / Участники:</b> @card.State</p>
              <p class="card-text mb-3" id="lin"><b>Лучшая текущая цена (тг):</b> @card.BestPrice</p>
              <p class="card-text mb-0" id="lin">
                
                @for (int i = 0; i < card.Links.Count; i++)
                {
                  if (card.LinkNames[i].Contains(".xlsx")) 
                  {
                    <i class="far fa-file-excel text-secondary"></i><a href="@card.LinkNames[i]">@card.LinkNames[i]</a><br>
                  }
                  else if (card.LinkNames[i].Contains(".docx"))
                  {
                    <i class="far fa-file-word text-secondary"></i><a href="@card.LinkNames[i]">@card.LinkNames[i]</a><br>
                  }
                  else if (card.LinkNames[i].Contains(".pdf"))
                  {
                    <i class="far fa-file-pdf text-secondary"></i><a href="@card.LinkNames[i]">@card.LinkNames[i]</a><br>
                  }
                  else if (card.LinkNames[i].Contains(".jpg"))
                  {
                    <i class="far fa-file-image text-secondary"></i><a href="@card.LinkNames[i]">@card.LinkNames[i]</a><br>
                  }
                    
                }
                
              </p>
            </div>
          </div>
        </div>
        
      }
    </div>
  </div>
}

<p class="text-center">Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount</p>
<div class="row justify-content-center">
  @Html.PagedListPager(Model, page =>Url.Action("Index", "Cards", new {page}), Bootstrap4PagedListRenderOptions.Classic)
</div>

@section Scripts
{
  <script >
    $(document).ready(function () {
        
        $('#card-header').css({'cursor':'pointer'})
        $('#deleteCard').css({'cursor':'pointer'})
    });
    

/////////////////////////////////Анимация с тенью карточек////////////////////////////////
       function link(cardId){
            $('#card-' + cardId).addClass('shadow')
            console.log(cardId)
       }

       function linkStr(cardId){
           $('#card-' + cardId).removeClass('shadow')
           console.log(cardId)
       }
  </script>
}