@using Microsoft.AspNetCore.Identity
@model WebStudio.ViewModels.DetailCardViewModel
@inject UserManager<User> UserManager

<div class="form-group mt-4">
  <h6>Комментарии:</h6>
  <table class="table table-borderless">
    <tbody>
    @foreach (var comment in @Model.Card.Comments)
    {
      <tr>
        <td width="20%" rowspan="2">
          <div class="comment-avatar text-center">
            <img src="@comment.User.AvatarPath" alt="avatar" class="avatar-image">
          </div>
          <p style="margin-bottom: 0" class="text-center"><b>@comment.User.Name @comment.User.Surname</b></p>
          @if (comment.User.RoleDisplay == "user")
          {
            <p style="margin-bottom: 0" class="text-muted text-center font-11">Менеджер</p>
          }
          @if (comment.User.RoleDisplay == "admin")
          {
            <p style="margin-bottom: 0" class="text-muted text-center font-11">Руководитель</p>
          }
        </td>
        <td class="mt-2">
          <p style="margin-bottom: 0" class="text-muted font-11 font-italic">Дата публикации: @comment.DateOfSend</p>
          @comment.Message
          @if (@comment.DateOfChange != DateTime.MinValue)
          {
            <p class="text-muted font-11 font-italic mt-4">Изменено: @comment.DateOfChange</p>
          }
        </td>
      </tr>
      <tr>
        @if (User.IsInRole("admin") && UserManager.GetUserId(User) == @comment.User.Id)
        {
          <td>
            <a asp-action="ChangeComment" asp-controller="Cards" asp-route-commentId="@comment.Id" class="font-italic">Изменить</a>
          </td>
        }
      </tr>
    }
    </tbody>
  </table>
</div>
<form asp-action="Comment" asp-controller="Cards" method="post">
  <div class="form-group">
    <label asp-for="Comment.Message">Оставить комментарий</label>
    <textarea class="form-control" asp-for="@Model.Comment.Message" rows="3"></textarea>
    <input type="hidden" asp-for="Comment.CardId" value="@Model.Card.Id">
    <input type="hidden" asp-for="Comment.UserId" value="@UserManager.GetUserId(User)">
    <input type="submit" class="btn btn-outline-secondary shadow mt-3" value="Оставить комментарий">
  </div>
</form>

