@model WebStudio.ViewModels.DetailCardViewModel
@using WebStudio.Enums
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

@{
  var count = 1;
}
<div>
  <div class="col-sm-12 col-md-12 mb-4 pl-0">
    <div class="card shadow" id="card-@Model.Card.Id" onmouseout="link('@Model.Card.Id')" onmousemove="linkStr('@Model.Card.Id')">
      @if (Model.Card.CardState == CardState.Новая)
      {
        <div class="card-header bg-success text-white">
          <h5 class="card-title">@Model.Card.Number @Model.Card.Name.Substring(0, 1).ToUpper()@Model.Card.Name.Substring(1)</h5>
        </div>
      }
      @if (Model.Card.CardState == CardState.Проработка)
      {
        <div class="card-header bg-primary text-white">
          <h5 class="card-title">@Model.Card.Number @Model.Card.Name.Substring(0, 1).ToUpper()@Model.Card.Name.Substring(1)</h5>
        </div>
      }
      @if (Model.Card.CardState == CardState.Удалена)
      {
        <div class="card-header bg-danger text-white">
          <h5 class="card-title">@Model.Card.Number @Model.Card.Name.Substring(0, 1).ToUpper()@Model.Card.Name.Substring(1)</h5>
        </div>
      }
      <div class="card-body">

        <p class="card-text mb-4">@Model.Card.Initiator</p>
        <p class="card-text mb-0" id="lin"><b>Стартовая сумма:</b> @Model.Card.StartSumm</p>
        <p class="card-text mb-0" id="lin"><b>Дата окончания приема заявок:</b> @Model.Card.DateOfAcceptingEnd.ToLongDateString() @Model.Card.DateOfAcceptingEnd.ToShortTimeString()</p>
        <p class="card-text mb-0" id="lin"><b>Дата и время начала торгов:</b> @Model.Card.DateOfAuctionStart.ToLongDateString() @Model.Card.DateOfAuctionStart.ToShortTimeString()</p>
        <p class="card-text mb-0" id="lin"><b>Брокер:</b> @Model.Card.Broker</p>
        <p class="card-text mb-0" id="lin"><b>Аукцион:</b> @Model.Card.Auction</p>
        <p class="card-text mb-0" id="lin"><b>Статус / Участники:</b> @Model.Card.State</p>
        <p class="card-text mb-3" id="lin"><b>Лучшая текущая цена (тг):</b> @Model.Card.BestPrice</p>
        <p class="card-text mb-4" id="lin">
          
            @for (int i = 0; i < Model.Card.Links.Count; i++)
            {
              if (Model.Card.LinkNames[i].Contains(".xlsx"))
              {
                <i class="far fa-file-excel text-secondary"></i><a href="@Model.Card.Links[i]">@Model.Card.LinkNames[i]</a><br>
              }
              else if (Model.Card.LinkNames[i].Contains(".docx"))
              {
                <i class="far fa-file-word text-secondary"></i><a href="@Model.Card.Links[i]">@Model.Card.LinkNames[i]</a><br>
              }
              else if (Model.Card.LinkNames[i].Contains(".pdf"))
              {
                <i class="far fa-file-pdf text-secondary"></i><a href="@Model.Card.Links[i]">@Model.Card.LinkNames[i]</a><br>
              }
              else if (Model.Card.LinkNames[i].Contains(".jpg"))
              {
                <i class="far fa-file-image text-secondary"></i><a href="@Model.Card.Links[i]">@Model.Card.LinkNames[i]</a><br>
              }
                
              
            }
          
        </p>
        
        @if (Model.Card.Positions.Count() > 0)
        {
          <table class="table" style="font-size: 10px;">
            <tr>
              <th>№</th>
              <th>Код ТНВЭД</th>
              <th>Наименование</th>
              <th>Ед.изм.</th>
              <th>Кол-во</th>
              <th>Валюта</th>
              <th>Старт.цена за ед.товара</th>
              <th>Стартовая стоимость</th>
              <th>Срок поставки</th>
              <th>Условия поставки</th>
            </tr>
            @foreach (var position in Model.Card.Positions)
            {
              <tr>
                <td>@(@count++)</td>
                <td>@position.CodTNVED</td>
                <td>@position.Name</td>
                <td>@position.Measure</td>
                <td>@position.Amount</td>
                <td>@position.Currency</td>
                <td>@position.UnitPrice</td>
                <td>@position.TotalPrice</td>
                <td>@position.DeliveryTime</td>
                <td>@position.DeliveryTerms</td>
              </tr>
              
            }
          </table>
        }
        @if (@Model.Card.CardState == CardState.Новая)
        {
          <p class="card-text mb-2" id="lin"><span class="badge badge-success">@Model.Card.CardState</span></p>
        }
        @if (@Model.Card.CardState == CardState.Проработка)
        {
          <p class="card-text mb-2" id="lin"><span class="badge badge-primary">@Model.Card.CardState</span></p>
        }
        @if (@Model.Card.CardState == CardState.Удалена)
        {
          <p class="card-text mb-2" id="lin"><span class="badge badge-danger">@Model.Card.CardState</span></p>
        }
        @if (@Model.Card.CardState != CardState.Удалена)
        {
          <form asp-action="TakeCard" asp-controller="Cards" method="post">
          <div class="form-group">
            
            @if (Model.Users.Count != 1)
            {
              <label for="exampleFormControlSelect1">Выбрать ответственного</label>
              <select class="form-control" asp-for="UserId">
                @foreach (var user in Model.Users)
                {
                  if (@user.UserName != "admin")
                  {
                    <option class="col-4" value="@user.Id">@user.UserName @user.UserSurname</option>
                  }
                }
              </select>
            }
            else
            {
              <p class="text-danger">У вас нет зарегистрированных сотрудников</p>
            }
          </div>
          
          <div class="row">
            <!----Левый блок------>
            <div class="ml-3">

              <div class="form-group custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Получение КП</label>
              </div>

              <div class="form-group custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch2">
                <label class="custom-control-label" for="customSwitch2">Налоги и НДС</label>
              </div>

              <div class="form-group custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch3">
                <label class="custom-control-label" for="customSwitch3">Внесение данных в таблицу</label>
              </div>

            </div>
            <!----Правй блок------>
            <div class="ml-3">
              
              <div class="form-group custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch4">
                <label class="custom-control-label" for="customSwitch4">Оценка поставщика</label>
              </div>
            
              <div class="form-group custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch5">
                <label class="custom-control-label" for="customSwitch5">Логистика</label>
              </div>
            
              <div class="form-group custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch6">
                <label class="custom-control-label" for="customSwitch6">Составление запроса для отправки поставщикам</label>
              </div>
              
            </div>
            
            <!-------Сроки------->
            <div class="ml-3">
              <div class="form-group custom-switch">
                <label class="" for="begin">Начало</label>
                <input id="begin" class="form-control" type="date"/>
              </div>
              <div class="form-group custom-switch">
                <label class="" for="end">Срок до</label>
                <input id="end" class="form-control" type="date"/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Добавьте описание или комментарий к заявке</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <input type="hidden" value="@Model.Card.Id" asp-for="CardId">
          @if (Model.Card.CardState == CardState.Новая)
          {
            <div class="form-group">
              <input type="submit" value="Взять в работу" class="btn btn-success shadow">
              <a asp-action="DeleteCard" asp-controller="Cards" asp-route-cardId="@Model.Card.Id" class="btn btn-danger shadow">Удалить</a>
            </div>
          }
          @if (Model.Card.CardState == CardState.Проработка)
          {
            <div class="form-group">
              <button class="btn btn-outline-success shadow">Участвовать в торгах</button>
              <button class="btn btn-outline-danger shadow">Не участвовать в торгах</button>
              <a asp-action="Create" asp-controller="Requests" asp-route-cardId="@Model.Card.Id" class="btn btn-outline-primary shadow">Отправить запрос</a>
            </div>
          }
        </form>
        }
        @if (Model.Card.CardState == CardState.Удалена && User.IsInRole("admin"))
        {
          <div class="form-group">
            <a asp-action="RestoreCard" asp-controller="Cards" asp-route-cardId="@Model.Card.Id" class="btn btn-success shadow">Восстановить</a>
          </div>
        }
      </div>
    </div>
  </div>
</div>

<!-----Правая сторона-->

@section Scripts
{
  <script>
    /////////////////////////////////Анимация с тенью карточек////////////////////////////////
    function link(cardId){
         $('#card-' + cardId).addClass('shadow')
         console.log(cardId)
    }
        
    function linkStr(cardId){
        $('#card-' + cardId).removeClass('shadow')
        console.log(cardId)
    }
        
  </script>
}