@using System.Text
@using X.PagedList.Mvc.Bootstrap4.Core
@using X.PagedList.Mvc.Core
@using System.Security.Principal
@model X.PagedList.IPagedList<WebStudio.Models.Supplier>

@{
    ViewBag.Title = "База поставщиков";
    Layout = "_Layout";
    var count =1;
}

<div class="mb-4 text-center">
    <h4>@ViewBag.Title</h4>
    <a asp-controller="Suppliers" asp-action="Create" class="font-italic">(Добавить нового поставщика)</a>
</div>

@using (Html.BeginForm("Index", "Suppliers", FormMethod.Get, 
    new {@class = "my-3 px-auto py-auto", @style = "border: 1px dotted lightslategrey; border-radius: 8px;"}))
{
    <div class="form-inline form-group">
        <div class="pt-3 pb-0 pl-2 text-center">
            <div class="row d-flex justify-content-around align-items-baseline">
                <div class="col-2 m-1 px-0 py-1 font-italic text-secondary font-weight-bold">
                    Поиск по:
                </div>
                <div class="col-3 m-1 px-0 py-1">
                    <span class="font-13 font-italic text-secondary">поставщику</span>
                    @Html.TextBox("searchByName", ViewBag.searchByName as string, new {@class = "form-control form-control-sm font-italic font-11", @placeholder="полностью или частично"})
                    <button type="submit" class="btn btn-outline-primary py-1 font-13 border-primary"><i class="fas fa-angle-double-right"></i></button>
                </div>

                <div class="col-3 m-1 px-0 py-1">
                    <span class="font-13 font-italic text-secondary">тэгу</span>
                    @Html.TextBox("searchByTag", ViewBag.searchByTag as string, new {@class = "form-control form-control-sm font-italic font-11", @placeholder="полностью или частично"})
                    <button type="submit" class="btn btn-outline-primary py-1 font-13 border-primary"><i class="fas fa-angle-double-right"></i></button>
                </div>
                <div class="col-3 m-1 py-1">
                    <a asp-action="Index" asp-controller="Suppliers" asp-route-page="1" class="btn btn-outline-primary font-italic pl-3 text-primary font-13">
                        Сбросить параметры поиска
                    </a>
                </div>
                
            </div>
        </div>
    </div>
}

<div class="row">
    <table class="table font-13">
        <theader>
            <tr>
                <th>№</th>
                <th>Название</th>
                <th>Email</th>
                <th>Телефон</th>
                <th>Сайт</th>
                <th>Адрес</th>
                <th>Тэги</th>
                <th></th>
                <th></th>
            </tr>
        </theader>
        <tbody>
        @foreach (var supplier in Model)
        {
            <tr id="supplier - @supplier.Id">
                <td>@(@count++)</td>
                <td>@supplier.Name</td>
                <td>@supplier.Email</td>
                <td>@supplier.PhoneNumber</td>
                <td><a href="@supplier.Website"> @supplier.Website</a></td>
                <td>@supplier.Address</td>
                <td>
                    @if (@supplier.Tags.Count != 0)
                    {
                        @foreach (var tag in @supplier.Tags)
                        {
                            @(@tag + " ")
                        }
                    }
                </td>
                <td><a asp-controller="Suppliers" asp-action="Edit" asp-route-id="@supplier.Id">Изменить</a></td>
                <td><a asp-controller="Suppliers" asp-action="Delete" asp-route-id="@supplier.Id">Удалить</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>

<p class="text-center">Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount </p>
<div class="row justify-content-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", "Suppliers", 
        new { page, searchByName = ViewBag.searchByName, searchByTag = ViewBag.searchByTag }), Bootstrap4PagedListRenderOptions.Classic)
</div>
