@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using X.PagedList.Mvc.Bootstrap4.Core
@using X.PagedList.Mvc.Core
@using Castle.Core.Internal
@model X.PagedList.IPagedList<Request>
@inject UserManager<User> UserManager

@{
    ViewBag.Title = "Список запросов";
    Layout = "_Layout";
}

@{
  var count = 1;
}

<div class="container">
  <div class="mt-3 d-flex justify-content-center align-items-baseline">
    <h3>Список запросов</h3>
  </div>
  <div class="mb-3 d-flex justify-content-center align-items-baseline">
    <a asp-controller="Requests" asp-action="CreateWithoutLot" class="font-italic">Добавить новый запрос</a>
  </div>
  @if (User.IsInRole("user"))
  {
    <form method="get" class="my-3 px-auto py-auto" style="border: 1px dotted lightslategrey; border-radius: 8px;">
      <div class="form-inline form-group">
        <div class="pt-3 pb-0 pl-5 text-center">
          <div class="row d-flex justify-content-start align-items-baseline">
            <div class="col-3 m-1 px-0 py-1 font-italic text-secondary font-weight-bold">
              Поиск по:
            </div>
            <div class="col-3 m-1 px-0 py-1 d-inline">
              <span class="font-13 font-italic text-secondary">номеру лота</span>
              <input type="text" name="searchByCardNumber" placeholder="на латинице" class="form-control form-control-sm font-italic font-11">
              <button type="submit" class="btn btn-outline-primary py-1 font-13 border-primary"><i class="fas fa-angle-double-right"></i></button>
            </div>
                
            <div class="col-4 m-1 px-0 py-1">
              <span class="font-13 font-italic text-secondary">названию лота</span>
              <input type="text" name="searchByCardName" class="form-control form-control-sm font-italic font-11">
              <button type="submit" class="btn btn-outline-primary py-1 font-13 border-primary"><i class="fas fa-angle-double-right"></i></button>
            </div>

            <div class="col-7 m-1 pl-5 py-1 form-inline">
              <span class="font-13 font-italic text-secondary">дате создания</span>
              <div class="m-3">
                <span class="font-13 font-italic text-secondary">от</span>
                <input type="date" value="" name="searchDateFrom" class="form-control form-control-sm">
              </div>
              <div class="m-1">
                <span class="font-13 font-italic text-secondary">до</span>
                <input type="date" value="" name="searchDateTo" class="form-control form-control-sm">
              </div>
              <button type="submit" class="btn btn-outline-primary py-1 font-13 border-primary"><i class="fas fa-angle-double-right"></i></button>
            </div>
            <div class="col-4 m-1 py-1">
              <a asp-action="Index" asp-controller="Requests" asp-route-page="1" class="btn btn-outline-primary font-italic pl-3 text-primary font-13">
                Сбросить параметры поиска
              </a>
            </div>
          </div>
        </div>
      </div>
    </form>
  }
  @if (User.IsInRole("admin") || User.IsInRole("superadmin"))
  {
    <form method="get" class="my-3 px-auto py-auto" style="border: 1px dotted lightslategrey; border-radius: 8px;">
      <div class="form-inline form-group">
        <div class="pt-3 pb-0 pl-5 text-center">
          <div class="row d-flex justify-content-start align-items-baseline">
            <div class="col-3 m-1 px-0 py-1 font-italic text-secondary font-weight-bold">
              Поиск по:
            </div>
            <div class="col-3 m-1 px-0 py-1 d-inline">
              <span class="font-13 font-italic text-secondary">номеру лота</span>
              <input type="text" name="searchByCardNumber" placeholder="на латинице" class="form-control form-control-sm font-italic font-11">
              <button type="submit" class="btn btn-outline-primary py-1 font-13 border-primary"><i class="fas fa-angle-double-right"></i></button>
            </div>
                
            <div class="col-4 m-1 px-0 py-1">
              <span class="font-13 font-italic text-secondary">названию лота</span>
              <input type="text" name="searchByCardName" class="form-control form-control-sm font-italic font-11">
              <button type="submit" class="btn btn-outline-primary py-1 font-13 border-primary"><i class="fas fa-angle-double-right"></i></button>
            </div>
                
            <div class="col-4 m-1 px-0 py-1">
              <span class="font-13 font-italic text-secondary">исполнителю</span>
              <input type="text" name="searchByExecutor" class="form-control form-control-sm">
              <button type="submit" class="btn btn-outline-primary py-1 font-13 border-primary"><i class="fas fa-angle-double-right"></i></button>
            </div>
                
            <div class="col-7 m-1 px-0 py-1 form-inline">
              <span class="font-13 font-italic text-secondary">дате создания</span>
              <div class="m-3">
                <span class="font-13 font-italic text-secondary">от</span>
                <input type="date" value="" name="searchDateFrom" class="form-control form-control-sm">
              </div>
              <div class="m-1">
                <span class="font-13 font-italic text-secondary">до</span>
                <input type="date" value="" name="searchDateTo" class="form-control form-control-sm">
              </div>
              <button type="submit" class="btn btn-outline-primary py-1 font-13 border-primary"><i class="fas fa-angle-double-right"></i></button>
            </div>
            <div class="col-4 m-1 py-1">
              <a asp-action="Index" asp-controller="Requests" asp-route-page="1" class="btn btn-outline-primary font-italic pl-3 text-primary font-13">
                Сбросить параметры поиска
              </a>
            </div>
          </div>
        </div>
      </div>
    </form>
  }

  <table class="table font-13">
    <thead class="thead-light">
    <tr>
      <th scope="col">№п/п</th>
      <th scope="col">Номер лота</th>
      <th scope="col">Название лота</th>
      <th scope="col">Сумма лота</th>
      <th scope="col">Дата окончания приема заявок</th>
      <th scope="col">Дата начала проведения торгов</th>
      <th scope="col">Дата создания запроса</th>
      @if (User.IsInRole("admin") || User.IsInRole("superadmin"))
      {
        <th scope="col">Исполнитель</th>
      }
    </tr>
    </thead>
    @if (User.IsInRole("admin") || User.IsInRole("superadmin"))
    {
      foreach (var request in Model)
      {
        if (request.Card != null)
        {
          <tbody>
          <tr>
            <th scope="row">@(count++)</th>
            <td>@request.Card.Number</td>
            <td>@request.Card.Name</td>
            <td>@request.Card.StartSumm</td>
            <td>@request.Card.DateOfAcceptingEnd.ToShortDateString()</td>
            <td>@request.Card.DateOfAuctionStart.ToShortDateString()</td>
            <td>@request.DateOfCreate.ToShortDateString()</td>
            <td>@request.Executor.Name @request.Executor.Surname</td>
          </tr>
          </tbody>
        }
      }
    }
    @if (User.IsInRole("user"))
    {
      foreach (var request in Model)
      {
        @if (UserManager.GetUserId(User) == @request.Executor.Id)
        {
          <tbody>
          <tr>
            <th scope="row">@(count++)</th>
            <td>@request.Card.Number</td>
            <td>@request.Card.Name</td>
            <td>@request.Card.StartSumm</td>
            <td>@request.Card.DateOfAcceptingEnd.ToShortDateString()</td>
            <td>@request.Card.DateOfAuctionStart.ToShortDateString()</td>
            <td>@request.DateOfCreate.ToShortDateString()</td>
            <td></td>
          </tr>
          </tbody>
        }
      }
    }
  </table>
</div>

<p class="text-center">Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount </p>
<div class="row justify-content-center">
  @Html.PagedListPager(Model, page => Url.Action("Index", "Requests", 
    new { page, searchByCardNumber = ViewBag.searchByCardNumber, searchByCardName = ViewBag.searchByCardName, 
      searchByExecutor = ViewBag.searchByExecutor, searchDateFrom = ViewBag.searchDateFrom, searchDateTo = ViewBag.searchDateTo }), 
    Bootstrap4PagedListRenderOptions.Classic)
</div>