@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject UserManager<User> UserManager
@inject WebStudioContext _db

@if (_db.SearchSuppliers.Count() == 0 || !_db.SearchSuppliers.Any(s=>s.Card.Id == null))
{
    <p id="suppliersNull">Вы еще не выбрали поставщиков</p>
}

@if (_db.SearchSuppliers.Count() != 0 && _db.SearchSuppliers.Any(s => s.Card.Id == null))
{
    <div id="suppliersTable">
        <table class="table" style="font-size: 12px;">
            <tr>
                <th>Наименование</th>
                <th>Email</th>
                <th>Тэги</th>
                <th>Действие</th>
            </tr>
            @foreach (var supplier in _db.SearchSuppliers)
            {
                <tr>
                    <td>@supplier.Name</td>
                    <td>@supplier.Email</td>
                    <td>

                        @foreach (var tag in @supplier.Tags)
                        {
                            @(tag + " ")
                        }
                    </td>
                    <td>
                        <input type="hidden" id="supplierId-@supplier.Id" value="@supplier.Id">
                        <input type="hidden" id="supplierRemoveCardId" value="@null">
                        <button type="button" style="border:0px solid black; background-color: transparent; outline:none" onclick="RemoveSupplierWithoutLotAjax('@supplier.Id')">
                            <i class="fas fa-times mr-3 mb-3" style="font-size: 15px; color: darkred; align-content: center" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </table>
    </div>
}

@section Scripts
{
    <script >
        function RemoveSupplierWithoutLotAjax(supplierRemoveId){
            var supplierId = $('#supplierId-' + supplierRemoveId).val();
            var supplierRemoveCardId = $('#supplierRemoveCardId').val();
            $.ajax({
                url : '@Url.Action("RemoveSupplierWithoutLotAjax", "Requests")',
                type : 'POST',
                data : {
                    'supplierId' : supplierId,
                    'supplierRemoveCardId' : supplierRemoveCardId
                },
                success : function (data){
                      $('#suppliersNull').hide();
                      $('#suppliersTable').hide();
                      $('#suppliersTablePartial').html(data);
                      console.log(data)
                }
            });
        }
    </script>
}
