@model WebStudio.ViewModels.IndexUsersViewModel

@{
    ViewBag.Title = "Личный кабинет";
    Layout = "_Layout";
}

<h2>Личный кабинет</h2>
<div class="card my-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4 align-items-baseline">
            
                <img src="@Model.User.AvatarPath" class="card-img" alt="фото пользователя">
            
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Имя: @Model.User.Surname @Model.User.Name</h5>
                <p class="card-text">Эл.почта: @Model.User.Email</p>
                <p class="card-text">Телефон: @Model.User.PhoneNumber</p>
                <p class="card-text">
                    @if (@User.IsInRole("admin"))
                    {
                        <small class="text-muted">роль: admin</small>   
                    }
                    @if (@User.IsInRole("user"))
                    {
                        <small class="text-muted">роль: user</small>   
                    }
                </p>
                <p>
                    <a asp-controller="Account" asp-action="Edit" asp-route-userId="@Model.User.Id">Редактировать</a>
                    <a asp-controller="Account" asp-action="ChangePassword" asp-route-userId="@Model.User.Id" 
                       class="ml-3">Изменить пароль</a>
                </p>
            </div>
        </div>
    </div>
</div>


@if (User.IsInRole("admin") && @Model.Users.Count > 0)
{
    <h5 class="my-5">Список пользователей</h5>
    <div class="users">
        <table class="table">
            <tr>
                <td></td>
                <th>Имя</th>
                <th>Эл.почта</th>
                <th>Телефон</th>
            </tr>
            @foreach (var user in @Model.Users)
            {
                <tr>
                    <th><img src="@user.AvatarPath" style="width: 30px; height: 30px;"></th>
                    <td>@user.Surname @user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                </tr>    
            }
        </table>
    </div>    
}
