@using WebStudio.Enums
@model System.Collections.Generic.List<WebStudio.Models.AuctionResult>
@inject WebStudioContext _db;

@{
    ViewBag.Title = "Результаты торгов с сайта биржи";
    Layout = "_Layout";
}

@if (Model.Count() == 0)
{
    <div class="container pl-0">
        <div class="jumbotron shadow-sm">
            <h1 class="display-4">В вашей базе нет доступных лотов</h1>
        </div>
    </div>
}
else
{
    <div class="mt-4 mb-2 d-flex justify-content-center align-items-baseline">
        <h3 class="mt-4 mb-2 text">@ViewBag.Title</h3>
    </div>
    
    <div class="row mt-5 justify-content-center">
        <div>
            <input id="searchLot" class="mb-3 finde shadow-sm" type="text" placeholder="Искать">
        </div>
    </div>
    
    <div id="div-table" class="shadow-sm mb-5">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col"><span class="badge badge-danger">№</span></th>
                <th scope="col">Номер</th>
                <th scope="col">Наименование</th>
                <th scope="col">Дата и время начала торгов</th>
                <th scope="col">Дата заключения сделки</th>
                <th scope="col">Победитель</th>
                <th scope="col">Итоговая сумма (тг)</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var lot in Model)
            {
                <tr class="bg-secondary text-white">
                    <th scope="row">@{ int a = @Model.IndexOf(lot) + 1; }<span class="badge badge-dark">@a</span></th>
                    <td>@lot.Number</td>
                    <td>@lot.Name</td>
                    <td>@lot.DateOfAuctionStart.ToLongDateString() @lot.DateOfAuctionStart.ToShortTimeString()</td>
                    <td>
                        @{
                            string DateOfSignContract = @lot.DateOfSignContract != DateTime.MinValue ? $"{lot.DateOfSignContract.Value.ToLongDateString()} {lot.DateOfSignContract.Value.ToShortTimeString()}" : "-";
                        }
                        @DateOfSignContract

                    </td>

                    <td>@lot.Winner</td>
                    <td>
                        @{
                            string sum = @lot.Sum != Decimal.MinValue ? $"{lot.Sum}" : "-";
                        }
                        @sum
                    </td>
                    @if (_db.Cards.FirstOrDefault(c => c.Number == lot.Number) != null)
                    {
                        Card card = _db.Cards.FirstOrDefault(c => c.Number == lot.Number);
                        if (card.Positions.Count > 1)
                        {
                            <thead>
                            <tr class="text-white bg-info">
                                <th scope="col">Позиций</th>
                                <th scope="col">Наименование</th>
                                <th scope="col">Ед.измерения</th>
                                <th scope="col">Количество</th>
                                @if (card.CardState == CardState.Проиграна)
                                {
                                    <th scope="col" class="bg-danger"><h4 align="center">проигран</h4></th>
                                    <th scope="col" class="bg-dark"><h3 align="center"><span class="badge badge-danger text-white">@card.Bidding</span></h3></th>
                                }
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var position in card.Positions)
                            {
                                <tr class="bg-light">
                                    <th scope="col">@{ int b = card.Positions.IndexOf(position) + 1; }<span class="badge badge-info">@b</span></th>
                                    <td>@position.Name</td>
                                    <td>@position.Measure</td>
                                    <td>@position.Amount</td>
                                </tr>
                            }
                            </tbody>
                        }
                    }
                </tr>
                 
                <tbody class="border-0">
                    <tr class="line"></tr>
                </tbody>
            }
            </tbody>
        </table>
    </div>
}

@section Scripts
{
    <script>
        $('#searchLot').on('keyup', function (){
            var finde = $('#searchLot').val()
            
            $.ajax({
            
               url: '@Url.Action("GetResult", "AuctionResults")',
               type: 'GET',
               data: {'finde' : finde},
               
               success: function (result){
                   
                   $('#div-table').html(result)
                   
               }
            })
        })
    </script>
}
















