@using Microsoft.AspNetCore.Identity
@model List<Offer>
@inject UserManager<User> UserManager

@{
    ViewBag.Title = "Коммерческие предложения";
    Layout = "_Layout";
    var count = 1;
    var positionCount = 1;
    var cardNumber = "";
    var codTNVED = "";
}
<div class="my-3">
    <h4>@ViewBag.Title</h4>
    <a asp-controller="Offers" asp-action="Create" asp-route-userId="@UserManager.GetUserId(User)" class="font-italic">(Добавить новое)</a>
</div>

<div>
    <table class="table" style="width: 100%">
        <thead>
        <tr class="bg-success text-white">
            <th scope="col">№</th>
            <th scope="col" colspan="2">Лот</th>
            <th scope="col" colspan="2">Поставщик</th>
            <th scope="col" colspan="2">Дата КП</th>
            <th scope="col" colspan="2">№ КП</th>
            <th scope="col" colspan="2">Скачать </th>
            <th scope="col" colspan="2"></th>
            </tr>
        </thead>
        <tbody>
        @if (Model.Count != 0)
        {
            @foreach (var offer in @Model)
            {
                <tr class="bg-light">
                    <th scope="row">@(@count++)</th>
                    <td colspan="2">@(@cardNumber = @offer.CardNumber != null ? @offer.CardNumber : "без номера")</td>
                    <td colspan="2">@offer.SupplierName</td>
                    <td colspan="2">@offer.DateOfIssue.ToShortDateString()</td>
                    <td colspan="2">@offer.Number</td>
                    <td colspan="2"><a asp-controller="Offers" asp-action="DownloadFile" asp-route-path="@offer.Path" asp-route-fileName="@offer.FileName">КП @offer.SupplierName</a><br><small class="font-10 font-italic">добавлено: @offer.User.Surname @offer.User.Name</small></td>
                    @* <td colspan="2"> <a asp-controller="Offers" asp-action="AddPosition" asp-route-offerId="@offer.Id">Добавить позицию в КП</a> </td> *@
                
                    @if (offer.Positions.Count != 0)
                    {
                        <thead class="font-11">
                        <tr>
                            <th class="py-1">№</th>
                            <th class="py-1">Название</th>
                            <th class="py-1">Ед.изм.</th>
                            <th class="py-1">Кол-ко</th>
                            <th class="py-1">Старт.цена за ед.товара</th>
                            @* <th class="py-1">Валюта</th> *@
                            <th class="py-1">Стартовая стоимость</th>
                            @* <th class="py-1">Условия поставки</th> *@
                            @* <th class="py-1">Комментарий</th> *@
                            @* <th class="py-1">Срок поставки</th> *@
                            @* <th class="py-1">Условия оплаты</th> *@
                            @* <th class="py-1">Город отгрузки</th> *@
                        </tr>
                        </thead>
                        <tbody class="font-11 pb-1">
                        @foreach (var op in @offer.Positions)
                        {
                            <tr>
                                <th scope="row">@(@positionCount++)</th>
                                <td class="py-1">@op.Name</td>
                                <td class="py-1">@op.Measure</td>
                                <td class="py-1">@op.Amount</td>
                                <td class="py-1">@op.UnitPrice</td>
                                @* <td class="py-1">@op.Currency</td> *@
                                <td class="py-1">@op.TotalPrice</td>
                                @* <td class="py-1">@op.DeliveryTerms</td> *@
                                @* <td class="py-1">@op.Comment</td> *@
                                @* <td class="py-1">@op.DeliveryTime</td> *@
                                @* <td class="py-1">@op.PaymentTerms</td> *@
                                @* <td class="py-1">@op.DeliveryCity</td> *@
                            </tr>
                        }
                        </tbody>
                    }
                    </tr>
                    
                <tbody class="border-0">
                    <tr class="line"></tr>
                </tbody>
            }
        }
        </tbody>
    </table>
</div>