@using Microsoft.AspNetCore.Identity
@model List<Offer>
@inject UserManager<User> UserManager

@{
    ViewBag.Title = "Коммерческие предложения";
    Layout = "_Layout";
    var count = 1;
    var cardNumber = "";
    var codTNVED = "";
}
<div class="my-3">
    <h4>@ViewBag.Title</h4>
    <a asp-controller="Offers" asp-action="Create" asp-route-userId="@UserManager.GetUserId(User)" class="font-italic">(Добавить новое)</a>
</div>

<div>
    <table class="table">
        <thead>
        <tr class="bg-light">
            <th scope="col">№</th>
            <th scope="col">Лот</th>
            <th scope="col">Поставщик</th>
            <th scope="col">Дата КП</th>
            <th scope="col">№ КП</th>
            <th scope="col">Скачать КП</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Count != 0)
        {
            @foreach (var offer in @Model)
            {
                <tr class="bg-light">
                    <th scope="row">@(@count++)</th>
                    <td>@(@cardNumber = @offer.CardNumber != null ? @offer.CardNumber : "без номера")</td>
                    <td>@offer.SupplierName</td>
                    <td>@offer.DateOfIssue</td>
                    <td>@offer.Number</td>
                    <td><small>добавлено: @offer.User.Surname @offer.User.Name</small></td>
                    <td> <a asp-controller="Offers" asp-action="AddPosition" asp-route-offerId="@offer.Id">Добавить позицию в КП</a> </td>
                </tr>
                @if (offer.Positions.Count != 0)
                {
                    <span>
                        <table class="table text-secondary ml-5 mb-3 font-11">
                            <tr>
                                <th class="py-1">Код ТНВЭД</th>
                                <th class="py-1">Название</th>
                                <th class="py-1">Ед.изм.</th>
                                <th class="py-1">Кол-ко</th>
                                <th class="py-1">Цена</th>
                                <th class="py-1">Валюта</th>
                                <th class="py-1">Итого</th>
                                <th class="py-1">Условия поставки</th>
                                <th class="py-1">Комментарий</th>
                                <th class="py-1">Срок поставки</th>
                                <th class="py-1">Условия оплаты</th>
                                <th class="py-1">Город отгрузки</th>
                            </tr>
                            @foreach (var op in @offer.Positions)
                            {
                                <tr>
                                    <th scope="col" class="py-1">@(codTNVED = @op.CodTNVED != null ? @op.CodTNVED : "")</th>
                                    <td class="py-1">@op.Name</td>
                                    <td class="py-1">@op.Measure</td>
                                    <td class="py-1">@op.Amount</td>
                                    <td class="py-1">@op.UnitPrice</td>
                                    <td class="py-1">@op.Currency</td>
                                    <td class="py-1">@op.TotalPrice</td>
                                    <td class="py-1">@op.DeliveryTerms</td>
                                    <td class="py-1">@op.Comment</td>
                                    <td class="py-1">@op.DeliveryTime</td>
                                    <td class="py-1">@op.PaymentTerms</td>
                                    <td class="py-1">@op.DeliveryCity</td>
                                </tr>
                            }
                        </table>
                    </span>
                }
            }
        }
        </tbody>
    </table>
</div>